<script lang="ts">
    import ReportLayout from "$lib/component/ReportLayout.svelte";
    import { onMount } from "svelte";

	let obj: any = null;

	onMount(async () => {
		try {
			const response = await fetch("http://localhost:5173/products.json");
			
			if (!response.ok) {
				throw "Can't get dds report values"
			}

			obj = await response.json();
		} catch (error) {
			throw error;
		}
	})
</script>
<h1>Товары</h1>
{#if obj !== null}
	<ReportLayout { obj } />
{/if}