<script lang="ts">
	export let obj: any = null;

	// Создаем таблицы на основе thead и tbody
	let tables =
		obj.thead?.map((header, index) => {
			let hasHeaders = header && header.length > 0;
			let tbody = obj.tbody[index];

			return {
				hasHeaders: hasHeaders,
				header: header,
				tbody: tbody,
			};
		}) || obj.tbody.map((item) => ({ hasHeaders: false, tbody: item }));
</script>

{#if tables.length > 0}
	<div style="display:flex; gap: 15px;">
		{#each tables as table, index (index)}
			{#if table.hasHeaders}
				<table key={index}>
					<thead>
						{#if table.header}
							<tr>
								{#each table.header as row}
									<th>{row.name}</th>
								{/each}
							</tr>
						{/if}
					</thead>
					<tbody>
						{#each table.tbody as row}
							<tr>
								<td>{row.name}</td>
								{#each row.values as value}
									<td>{value.value}</td>
								{/each}
							</tr>
						{/each}
					</tbody>
				</table>
			{:else}
				<table key={index}>
					<thead>
						<tr>
							{#each table.tbody as row}
								<th>{row.name}</th>
							{/each}
						</tr>
					</thead>
					<tbody>
						{#each obj.tbody[0][0].values as _, rowIndex}
							<tr>
								{#each obj.tbody[0] as column}
									<td>
										{#if column.type === "int"}
											{column.values[rowIndex].value}
										{:else if column.type === "img"}
											<img
												src={column.values[rowIndex]
													.value}
												alt={column.values[rowIndex]
													.key}
												width="100"
											/>
										{:else}
											{column.values[rowIndex].value}
										{/if}
									</td>
								{/each}
							</tr>
						{/each}
					</tbody>
				</table>
			{/if}
		{/each}
	</div>
{/if}

<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th,
	td {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
</style>
